services:
    client:
        build: ./pert-estimating-client
        container_name: client
        restart: always
        ports:
            - "8080:80"

    server:
        build: ./pert-estimating-server
        container_name: server
        restart: always
        ports:
            - "8000:8000"

    nginx:
        image: nginx:latest
        container_name: nginx
        restart: always
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./nginx/ssl:/etc/nginx/ssl
            - ./nginx/utils:/etc/nginx/utils
            - ./pert-estimating-welcome/index.html:/etc/nginx/welcome.html
        depends_on:
            - client
            - server
